.container {
    background: #a68cf2;
    image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.title {
    justify-content: center;
    display: flex;
    list-style-type: none;
    background: #8ccbf2;
}

.tabs {
    display: flex;
    justify-content: center;
    border: none;
}

.tablink {
    position: relative;
    padding: 5px;
}

.hometab {
    padding-right: 10px;
    padding-left: 20px;
}

.gamestab {
    padding-right: 10px;
    padding-left: 20px;
}

.videostab {
    padding-right: 10px;
    padding-left: 20px;
}

.abouttab {
    padding-right: 10px;
    padding-left: 20px;
}